## Union and Union All

In [9]:
from pyspark.sql import SparkSession
from pyspark.sql.types import *
from pyspark.sql.functions import *

In [12]:
spark = SparkSession.builder.master ("local[5]")\
        .appName("Union&UnionAll")\
        .getOrCreate()
spark

WARNING: Using incubator modules: jdk.incubator.vector
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
25/11/18 00:09:46 WARN Utils: Your hostname, Shrees-MacBook-Air.local, resolves to a loopback address: 127.0.0.1; using 10.183.253.103 instead (on interface en0)
25/11/18 00:09:46 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/11/18 00:09:46 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [86]:
data=[(10 ,'Anil',50000, 18),
(11 ,'Vikas',75000,  16),
(12 ,'Nisha',40000,  18),
(13 ,'Nidhi',60000,  17),
(14 ,'Priya',80000,  18),
(15 ,'Mohit',45000,  18),
(16 ,'Rajesh',90000, 10),
(17 ,'Raman',55000, 16),
(18 ,'Sam',65000,   17),
(18 ,'Sam',55000,   17),
(18 ,'Sam',65000,   17)]

In [88]:
schema = ['id', 'name', 'salary', 'mngr_id']

manager_df = spark.createDataFrame(data=data, schema=schema)

In [90]:
manager_df.show()

+---+------+------+-------+
| id|  name|salary|mngr_id|
+---+------+------+-------+
| 10|  Anil| 50000|     18|
| 11| Vikas| 75000|     16|
| 12| Nisha| 40000|     18|
| 13| Nidhi| 60000|     17|
| 14| Priya| 80000|     18|
| 15| Mohit| 45000|     18|
| 16|Rajesh| 90000|     10|
| 17| Raman| 55000|     16|
| 18|   Sam| 65000|     17|
| 18|   Sam| 55000|     17|
| 18|   Sam| 65000|     17|
+---+------+------+-------+

In [91]:
manager_df.count()

11

In [94]:
data1=[(19 ,'Sohan',50000, 18),
(20 ,'Sima',75000,  17)]

schema1 = ['id', 'name', 'salary', 'mngr_id']
manager_df1 = spark.createDataFrame(data=data1, schema=schema1)

In [96]:
manager_df1.show()

+---+-----+------+-------+
| id| name|salary|mngr_id|
+---+-----+------+-------+
| 19|Sohan| 50000|     18|
| 20| Sima| 75000|     17|
+---+-----+------+-------+

In [98]:
## 1. Union
manager_df.union(manager_df1).count()

13

In [99]:
manager_df.createOrReplaceTempView("manager_df_tbl")
manager_df1.createOrReplaceTempView("manager_df1_tbl")

In [117]:
spark.sql("""

select * from manager_df_tbl
union
select * from manager_df1_tbl

""").count()

12

In [115]:
## Union All
spark.sql("""

select * from manager_df_tbl
union all
select * from manager_df1_tbl

""").count()

13