## Group By in Spark

In [2]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.types import *

In [4]:
spark = (
    SparkSession
    .builder\
    .appName("GroupByinSpark")\
    .master("local[*]")\
    .getOrCreate()
)

spark

WARNING: Using incubator modules: jdk.incubator.vector
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
25/11/19 22:42:43 WARN Utils: Your hostname, Shrees-MacBook-Air.local, resolves to a loopback address: 127.0.0.1; using 10.183.253.103 instead (on interface en0)
25/11/19 22:42:43 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/11/19 22:42:44 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [5]:
emp_data = [(1,'manish',50000,'IT'),
(2,'vikash',60000,'sales'),
(3,'raushan',70000,'marketing'),
(4,'mukesh',80000,'IT'),
(5,'pritam',90000,'sales'),
(6,'nikita',45000,'marketing'),
(7,'ragini',55000,'marketing'),
(8,'rakesh',100000,'IT'),
(9,'aditya',65000,'IT'),
(10,'rahul',50000,'marketing')]

emp_schema = ['id', 'name', 'sal', 'dept']

emp_df = spark.createDataFrame(schema=emp_schema, data=emp_data)

In [6]:
emp_df.show()

+---+-------+------+---------+
| id|   name|   sal|     dept|
+---+-------+------+---------+
|  1| manish| 50000|       IT|
|  2| vikash| 60000|    sales|
|  3|raushan| 70000|marketing|
|  4| mukesh| 80000|       IT|
|  5| pritam| 90000|    sales|
|  6| nikita| 45000|marketing|
|  7| ragini| 55000|marketing|
|  8| rakesh|100000|       IT|
|  9| aditya| 65000|       IT|
| 10|  rahul| 50000|marketing|
+---+-------+------+---------+

In [7]:
emp_df.groupBy("dept")\
    .agg(sum("sal")).show()

+---------+--------+
|     dept|sum(sal)|
+---------+--------+
|       IT|  295000|
|    sales|  150000|
|marketing|  220000|
+---------+--------+

In [38]:
## Leetcode Question

emp_data_1 = [(1,'manish',50000,'IT','india'),
(2,'vikash',60000,'sales','us'),
(3,'raushan',70000,'marketing','india'),
(4,'mukesh',80000,'IT','us'),
(5,'pritam',90000,'sales','india'),
(6,'nikita',45000,'marketing','us'),
(7,'ragini',55000,'marketing','india'),
(8,'rakesh',100000,'IT','us'),
(9,'aditya',65000,'IT','india'),
(10,'rahul',50000,'marketing','us')]

emp_schema_1 = ['id', 'name', 'sal', 'dept', 'country']

emp_df1 = spark.createDataFrame(schema=emp_schema_1, data=emp_data_1)

In [40]:
emp_df1.show()

+---+-------+------+---------+-------+
| id|   name|   sal|     dept|country|
+---+-------+------+---------+-------+
|  1| manish| 50000|       IT|  india|
|  2| vikash| 60000|    sales|     us|
|  3|raushan| 70000|marketing|  india|
|  4| mukesh| 80000|       IT|     us|
|  5| pritam| 90000|    sales|  india|
|  6| nikita| 45000|marketing|     us|
|  7| ragini| 55000|marketing|  india|
|  8| rakesh|100000|       IT|     us|
|  9| aditya| 65000|       IT|  india|
| 10|  rahul| 50000|marketing|     us|
+---+-------+------+---------+-------+

In [42]:
emp_df1.groupBy("dept","country")\
    .agg(sum("sal")).show()

+---------+-------+--------+
|     dept|country|sum(sal)|
+---------+-------+--------+
|       IT|  india|  115000|
|    sales|     us|   60000|
|marketing|  india|  125000|
|    sales|  india|   90000|
|       IT|     us|  180000|
|marketing|     us|   95000|
+---------+-------+--------+