## LAG and Lead

In [2]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.types import *
from pyspark.sql.window import Window

In [4]:
spark = (
    SparkSession
    .builder \
    .appName('LAG&Lead')\
    .master("local[*]")\
    .getOrCreate()
)

WARNING: Using incubator modules: jdk.incubator.vector
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
25/11/22 00:12:15 WARN Utils: Your hostname, Shrees-MacBook-Air.local, resolves to a loopback address: 127.0.0.1; using 10.183.253.103 instead (on interface en0)
25/11/22 00:12:15 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/11/22 00:12:16 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [5]:
product_data = [
(1,"iphone","01-01-2023",1500000),
(2,"samsung","01-01-2023",1100000),
(3,"oneplus","01-01-2023",1100000),
(1,"iphone","01-02-2023",1300000),
(2,"samsung","01-02-2023",1120000),
(3,"oneplus","01-02-2023",1120000),
(1,"iphone","01-03-2023",1600000),
(2,"samsung","01-03-2023",1080000),
(3,"oneplus","01-03-2023",1160000),
(1,"iphone","01-04-2023",1700000),
(2,"samsung","01-04-2023",1800000),
(3,"oneplus","01-04-2023",1170000),
(1,"iphone","01-05-2023",1200000),
(2,"samsung","01-05-2023",980000),
(3,"oneplus","01-05-2023",1175000),
(1,"iphone","01-06-2023",1100000),
(2,"samsung","01-06-2023",1100000),
(3,"oneplus","01-06-2023",1200000)]

product_schema = ['product_id', 'product', 'date', 'sales']

prdct_df = spark.createDataFrame(data=product_data, schema=product_schema)

In [6]:
prdct_df.show()

+----------+-------+----------+-------+
|product_id|product|      date|  sales|
+----------+-------+----------+-------+
|         1| iphone|01-01-2023|1500000|
|         2|samsung|01-01-2023|1100000|
|         3|oneplus|01-01-2023|1100000|
|         1| iphone|01-02-2023|1300000|
|         2|samsung|01-02-2023|1120000|
|         3|oneplus|01-02-2023|1120000|
|         1| iphone|01-03-2023|1600000|
|         2|samsung|01-03-2023|1080000|
|         3|oneplus|01-03-2023|1160000|
|         1| iphone|01-04-2023|1700000|
|         2|samsung|01-04-2023|1800000|
|         3|oneplus|01-04-2023|1170000|
|         1| iphone|01-05-2023|1200000|
|         2|samsung|01-05-2023| 980000|
|         3|oneplus|01-05-2023|1175000|
|         1| iphone|01-06-2023|1100000|
|         2|samsung|01-06-2023|1100000|
|         3|oneplus|01-06-2023|1200000|
+----------+-------+----------+-------+