## Aggregate Function

In [2]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.types import *

In [8]:
spark = (
    SparkSession
    .builder\
    .appName("aggregateFunction")\
    .master("local[*]")\
    .getOrCreate()
)

spark

WARNING: Using incubator modules: jdk.incubator.vector
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
25/11/19 00:35:58 WARN Utils: Your hostname, Shrees-MacBook-Air.local, resolves to a loopback address: 127.0.0.1; using 10.183.253.103 instead (on interface en0)
25/11/19 00:35:58 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/11/19 00:35:59 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [10]:
emp_data = [
(1,'manish',26,20000,'india','IT'),
(2,'rahul',None,40000,'germany','engineering'),
(3,'pawan',12,60000,'india','sales'),
(4,'roshini',44,None,'uk','engineering'),
(5,'raushan',35,70000,'india','sales'),
(6,None,29,200000,'uk','IT'),
(7,'adam',37,65000,'us','IT'),
(8,'chris',16,40000,'us','sales'),
(None,None,None,None,None,None),
(7,'adam',37,65000,'us','IT')]

emp_schema = ['id', 'name', 'age', 'sal', 'country', 'dept']

emp_df = spark.createDataFrame(schema=emp_schema, data=emp_data)

In [15]:
emp_df.show()

+----+-------+----+------+-------+-----------+
|  id|   name| age|   sal|country|       dept|
+----+-------+----+------+-------+-----------+
|   1| manish|  26| 20000|  india|         IT|
|   2|  rahul|NULL| 40000|germany|engineering|
|   3|  pawan|  12| 60000|  india|      sales|
|   4|roshini|  44|  NULL|     uk|engineering|
|   5|raushan|  35| 70000|  india|      sales|
|   6|   NULL|  29|200000|     uk|         IT|
|   7|   adam|  37| 65000|     us|         IT|
|   8|  chris|  16| 40000|     us|      sales|
|NULL|   NULL|NULL|  NULL|   NULL|       NULL|
|   7|   adam|  37| 65000|     us|         IT|
+----+-------+----+------+-------+-----------+

In [19]:
emp_df.count()

10

In [29]:
emp_df.select(count("id")).show()

+---------+
|count(id)|
+---------+
|        9|
+---------+

In [33]:
emp_df.select(sum("sal").alias("total_sal"), max("sal").alias("maximum_sal"), min("sal").alias("minimum_sal")).show()

+---------+-----------+-----------+
|total_sal|maximum_sal|minimum_sal|
+---------+-----------+-----------+
|   560000|     200000|      20000|
+---------+-----------+-----------+

In [39]:
emp_df.select(sum("sal"), count("sal"), avg("sal")).show()

+--------+----------+--------+
|sum(sal)|count(sal)|avg(sal)|
+--------+----------+--------+
|  560000|         8| 70000.0|
+--------+----------+--------+